/*
 * Products (list) stylesheet
 */

// import global styles
@import 'styles.scss';

.products-container {
  display: flex;
  flex-direction: column;
  border: 50px solid rgba(255, 255, 255, 0.55);
  border-radius: 5px;
  color: $txt_prim;
  z-index: 1;

  .products-navbar {
    display: flex;
    padding: 0 55px;
    justify-content: space-between;
    align-items: flex-end;

    .products-category {
      font-size: 11.5pt;
    }

    .products-total {
      display: flex;
      align-items: flex-end;

      .products-total-amount {
        font-size: 12pt;
        font-weight: 500;
      }

      .products-total-label {
        font-size: 9.5pt;
      }
    }
  }

  .products {
    display: flex;
    padding: 17px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-container {
    display: flex;
    margin: 13px 17px;
    z-index: 1;
  }
}