/*
 * Product card in Shop stylesheet
 */

 .shop-product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  padding: 5px;
  background-color: #e5f5f1;
  border: 2px solid #59C1AB;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #edf8f5;
  color: #1c1c1c;

  &:hover {
    background: linear-gradient(to right, #D8384A, #E17C84);
    border: 2px solid #fff;
    box-shadow: 0 0 0 5px #E17C84;
    color: #fff;
    cursor: pointer;

    .separator {
      background-color: #E17C84;
    }

    .product-actions {
      .add-to-cart {
        visibility: visible;
        color: #fff;
        opacity: 0.5;
      }
    }
  }

  .product-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-main {
      display: flex;
      align-items: center;

      .product-image {
        padding-right: 5px;
      }
  
      .product-info {
        display: flex;
        flex-direction: column;

        .product-title {
          font-size: 11pt;
          font-weight: 600;
          margin-bottom: 1px;
        }

        .product-price {
          font-size: 10pt;
          font-weight: 500;
        }
      }
    }

    .product-actions {
      margin-right: 13px;
      display: flex;
      visibility: hidden;
      font-size: 14pt;
      color: #59C1AB;
    }
  }

  .separator {
    display: flex;
    align-self: center;
    width: 240px;
    margin: 5px 0;
    height: 2px;
    background-color: #fff;
  }

  .product-card-bot {
    display: flex;
    
    .product-desc {
      margin: 0 5px 5px;
      font-size: 9.5pt;
    }
  }
}