/*
 * Navbar stylesheet
 */

.navbar-container {
  display: flex;
  padding: 30px 45px 20px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;

  .navbar-start {
    display: flex;
    align-items: center;

    .navbar-brand {
      display: flex;
      margin-right: 10px;
    }

    .navbar-menu {
      display: flex;

      .navbar-item {
        margin: 0 10px;
      }
    }
  }

  .navbar-end {
    display: flex;
  }

  .navbar-item {
    display: flex;
    font-weight: 700;
    color: #59C1AB;
    text-decoration: none;

    &:hover {
      .navbar-item-icon {
        color: #D8384A;
      }

      .navbar-item-text {
        background: -webkit-linear-gradient(left, #D8384A, #E17C84);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}